*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins" sans-serif;
}

body{
    background-color: #FFE3CA;
    font-family: poppins;
}

.container{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgba(255, 235, 210, 0.5);
    width: 30%;
    height: 170vh;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    width: 30%;
    height: 40vh;
    position: relative;
    left: 130px;
    top: 10px;
    border: 2px solid #FFE3CA;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 1.5em;
    margin: 20px 30px;
    color: #0C359E;
}

ul{
    display: flex;
    list-style: none;
}

.profile-links li{
    background-color: #F6F5F5;
    font-weight: medium;
    font-size: 1em;
    height: 6vh;
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
}
.profile-links ul li:nth-child(1){
    padding: 5px 15px 5px 20px;
    width: 40%;
    font-weight: bold;
}

.profile-links ul li:nth-child(2){
    padding: 5px 10px 5px 25px;
    width: 30%;
    font-weight: bold;
}

.profile-links ul li:nth-child(3){
    padding: 5px 25px 5px 20px;
    width: 30%;
    font-weight: bold;
}

.profile-links a{
    font-size: 1em;
}


.about-me{
    width: 95%;
    height: 25vh;
    background-color: #0C359E;
    border-radius: 10px;
    margin: 30px 20px 0 10px;
}
.about-me h2{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-weight: medium;
    padding-top: 10px;
}

.about-me p{
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    font-size: 0.7em;
    width: 90%;
    border-radius: 10px;
    padding: -5px 40px;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 2;
}

.skills h2{
    text-align: center;
    margin: 20px 0;
    color: #0C359E;
    font-weight: 600;
}

.skills-list{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.skills-list li{
    background-color: #F6F5F5;
    border-radius: 5px;
    font-weight: medium;
    font-size: 1em;
    height: 6vh;
    margin: 10px 10px;

}

.skills-list li:nth-child(1), .skills-list li:nth-child(2), .skills-list li:nth-child(3){
   padding: 6px 20px;
   color: #0C359E;
   font-weight: bold;
}

.contact h2{
    text-align: center;
    margin: 20px 0;
    color: #0C359E;
    font-weight: 600;

}

.contacts-list{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.contacts-list li{
    background-color: #0C359E;
    border-radius: 5px;
    font-weight: 100;
    font-size: 0.9em;
    height: 6vh;
    margin: 10px 10px;
}

.contacts-list a{
    color: white;
}

.contacts-list li:nth-child(1), .contacts-list li:nth-child(2){
    padding: 6px 20px;
}

